<footer class="footer position-relative bottom-0 w-100 mt-5 py-3 bg-light">
    <div class="container text-center">
        <span class="text-muted">© 2017 - {{currentYear}}</span>
    </div>
</footer>