<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid d-flex flex-row">
        {{!-- left : make plan and test, may not display until login --}}
        <div class="d-flex navbar-start">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <a href="/{{#if user}}home{{/if}}"class="logo-href">
                    <img src="/image/logo.webp" alt="question-mark" id="logo">
                </a>
                <li class="nav-item mx-3 left-nav">
                    <a class="nav-link" href="/plan">Plan</a>
                </li>
                <li class="nav-item mx-3 left-nav">
                    <a class="nav-link" href="/test">Test</a>
                </li>
                <li class="nav-item mx-3 left-nav">
                    <a class="nav-link" href="/quiz">Quiz</a>
                </li>
            </ul>
        </div>

        {{!-- middle : Search bar --}}
        {{#if user}}
        <div class="d-flex navbar-mid search-container">
            <form action="/home" method="get" class="d-flex w-100">
                <input class="form-control me-2 search w-100" type="search" name="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
        {{/if}}

        {{!-- right : For user login/register, after login become logout and personnel profile... --}}
        <div class="d-flex align-items-center navbar-end">
            <ul class="navbar-nav align-items-center mx-2">
                {{#if user}}
                    <li class="nav-item mx-4">
                        <h4>Hi {{user.name}}</h4>
                    </li>
                    {{#if user.isAdmin}}
                        <li class="nav-item mx-2">
                            <a class="nav-link" href="/admin/users">Admin</a>
                        </li>
                    {{/if}}
                    <li class="nav-item mx-2">
                        <a class="nav-link" href="/users/logout">Logout</a>
                    </li>
                {{else}}
                    <li class="nav-item mx-2">
                        <a class="nav-link" href="/users/login">Login</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link" href="/users/register">Register</a>
                    </li>
                {{/if}}
                
                {{!-- Here will be user headshot --}}
                {{#if user}}
                    <li class="nav-item mx-2">
                        <a class="nav-link active" aria-current="page" href="/">
                            <i class="fi fi-rr-home"></i>
                        </a>
                    </li>
                {{/if}}
            </ul>
        </div>

    </div>
</nav>