<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz app</title>
    {{!-- Bootstrap --}}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" 
          rel="stylesheet" 
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" 
          crossorigin="anonymous">

    {{!-- Icon website --}}
    <link rel='stylesheet' 
          href='https://cdn-uicons.flaticon.com/2.0.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>

    {{!-- Custom css --}}
    <link rel="stylesheet" href="/style.css">

</head>
<body class="d-flex flex-column h-100">
    {{!-- nav bars --}}
    {{> header}}

    {{!-- body, main board --}}
    <main class="flex-shrink-0 mb-auto" role="main">
        {{{ body }}}
    </main>
    {{!-- footer --}}
    {{> footer }}


    {{!-- Bootstrap --}}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" 
            integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" 
            crossorigin="anonymous"></script>
</body>
</html>