/* .search {
    width: 800px;
} */

.search-container {
    width: 50%;
}

.navbar-start {
    width: 25%;
    justify-content: start;
}

.navbar-mid {
    width: 50%;
    justify-content: center;
}

.navbar-end {
    width: 25%;
    justify-content: end;
}

.logo-href {
    width: 35px;
}

#logo {
    width: 100%;
}