@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400&display=swap');

body {
    background-image: linear-gradient(90deg, #f6d365 0%, #fda085 100%);
    font-family: 'Crimson Text', serif;
    font-weight: 600;
    font-size: 20px
}

.search-container {
    width: 50%;
}

.navbar-start {
    width: 25%;
    justify-content: start;
}

.navbar-mid {
    width: 50%;
    justify-content: center;
}

.navbar-end {
    width: 25%;
    justify-content: end;
}

.logo-href {
    width: 35px;
}

#logo {
    width: 100%;
}

.headshot {
    width: 75px;
    height: 75px;
    object-fit: cover;
    border: 1px solid black;
    border-radius: 50%;
}

.navheadshot {
    display: inline-block;
    width: 75px;
    height: 75px;
    border: 3px solid gold;
    border-radius: 50%;
    outline: none;
}

.head_shot_absolute {
    top: 5px;
    right: 2%
}

.icon {
    display: flex;
    padding: 2px;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
}

.disnone {
    display: none;
}

.carousel-inner {
    height: 480px;
}

.carousel-item {
    width: 68%;
    margin: auto;
    top: 16%;
    left: 16%;
}

.score-time{
    width:50%;
}

.green-blue{
    background-color:#38ada9;
    border-color: #38ada9;
}
.green-blue:hover{
    background-color:#079992;
    border-color: #079992;
}

.green-blue i.fa-solid.fa-play {
    color: white;
}

.test-form {
    background-image: linear-gradient(-20deg, #ddd6f3 0%, #faaca8 100%, #faaca8 100%);
}

.info-parent > div {
    margin-bottom: 1rem
}

.info-input {
    width:300px
}

.info {
    width: 350px;
    height: 350px; 
    object-fit: cover;
    object-position: 0 0;
}

.personnel-board {
    width: 95%
}

.personnel-board-content {
    left:2.5%
}

.bg-secondary {
    background-color: #6c757d !important;
}

.ai-grid {
    width:55%;
    top: 10%;
    right: 10%
}

.ai-input {
    width: 80%
}
.ai-submit {
    width: 20%
}

/* Add your styles here */
.quiz-options label {
    display: block;
    width: 90%;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.quiz-options label:hover {
    background-color: #6c757d;
    color:#fff;
    border: 1px solid #e0ea4f;
}

.quiz-options div input {
    opacity: 0
}

.quiz-options div label.selected {
    background-color: #222222;
    color: #fff;
}

.carousel-inner {
    width: 80%
}

.carousel-control-button {
    width: 9%
}

.quiz-description {
    width: 90%;
    margin-left: 30px
}

#register {
    color: #ffffff
}

#register:hover {
    color: #ddd6f3
}

.outer-logo {
    width: 40px;
    height: 40px;
    color: #ffffff;
    background-color: #222222;
    border-radius: 5px;
}

.outer-logo:hover {
    color: #222222;
    background-color: #ffffff;
}

.home_img {
    width: 50%;
    height: 50%
}