<div class='d-flex flex-row'>
    <div class='start'>
        <h3>{{user.name}}</h3>
        <img src="/image/smile.jpg">
    </div>
    <div class='mid'>
        <p>Some description</p>
    </div>
    <div class="end">
        {{!-- maybe some manipulate --}}
    </div>
</div>

