<h1 class="mb-3">Test Setting</h1>
<div class="w-100 mt-3">
    <form action="/quiz/test">
        <div class="mb-4">
            <label for="category" class="form-label">Category</label>
            <input type="text" class="form-control" id="category" name="category" placeholder="select category" aria-describedby="categoryHelp">
        </div>

        <div class="mb-4">
            <label for="totalQuestion" class="form-label">Total question</label>
            <input type="text" class="form-control" id="totalQuestion" name="totalQuestion" placeholder="totalQuestion" aria-describedby="totalQuestionHelp">
        </div>
        <button type="submit" class="btn btn-primary">Start</button>
    </form>
</div>